<tr>
     <td><%= beermark.name %></td>
     <td><%= beermark.malts %></td>
     <td><%= beermark.alcohol %></td>
     <td><%= beermark.category.name %></td>
     <td><%= beermark.kind.name %></td>
     <td><%= link_to 'Show', beermark %></td>
     <td><%= link_to 'Edit', edit_beermark_path(beermark) %></td>
     <td><%= link_to 'Destroy', beermark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>