<p id="notice"><%= notice %></p>

<h1>Beermarks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Malts</th>
      <th>Alcohol</th>
      <th>Category</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beermarks.each do |beermark| %>
      <tr>
        <td><%= beermark.name %></td>
        <td><%= beermark.malts %></td>
        <td><%= beermark.alcohol %></td>
        <td><%= beermark.category_id %></td>
        <td><%= beermark.kind_id %></td>
        <td><%= link_to 'Show', beermark %></td>
        <td><%= link_to 'Edit', edit_beermark_path(beermark) %></td>
        <td><%= link_to 'Destroy', beermark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beermark', new_beermark_path %>
